<div class="featured-section">
  <h1 id="info-name" class="info-text">Joshua Mun</h1></br>

  <h3 id="info-title" class="info-text">Full-Stack Developer</h3>

  <div class="profile-img-container">
    <img src="/assets/profile_back.jpg" alt="Profile Photo"/>
  </div>
</div>

<div id="side-bar">
  <h2>Technical Skills</h2>
</div>
