<div class="featured-section">
  <div class="info-container">
    <h1 id="info-name" class="info-text">Joshua Mun</h1></br>
    <h3 id="info-title" class="info-text">Full-Stack Web Developer</h3>
  </div>

  <div class="profile-img-container">
    <img src="/assets/profile_back.jpg" alt="Profile Photo"/>
  </div>
</div>

<div id="side-bar" class="hide">
  <ul class="sidebar-links">
    <li id="sidebar-1">
      <a href="#about">About Me</a>
    </li>
    <li id="sidebar-2">
      <a href="#projects">Projects</a>
    </li>
    <li id="sidebar-3">
      <a href="#skills">Skills</a>
    </li>
    <li id="sidebar-4">
      <a href="#hobbies">Hobbies</a>
    </li>
  </ul>
</div>

<div id="side-bar-arrow">
  <p></p>
</div>

<div class="show-container">
</div>

