.featured-section {
  margin-top: -1.5rem;
  left: 0;
  width: 100vw;
  height: 80vh;
  background-color: #000000;
  opacity: 0.9;
}
.profile-img-container {
  margin-top: 20.2rem;
}

.profile-img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 200px;
  width: auto;
  position: relative;
}

