.info-container {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  letter-spacing: 0.4em;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Slab', serif;

  #info-name {
    padding-top: 2rem;
  }

  #info-title {
    margin-top: -2rem;
  }
}

