#side-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  margin-top: 20vh;
  top: 0;
  left: -2rem;
  width: 15rem;
  height: 50vh;
  border: solid rgba(#fff, 0.4) 1px;
  border-radius: 5%;
  background-color: rgba(#000, 0.2);
  z-index: 99999;

  ul {
    position: relative;
    vertical-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    li {
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: right;
      list-style: none;

      a {
        margin-left: 0.5rem;
        text-decoration: none;
        color: rgba(#fff, 0.8);
        text-shadow: 1px 1px 1px #000;
        letter-spacing: 0.25rem;
        padding-bottom: 0.1rem;
      }

      a:hover {
        border-bottom: solid 1px #000;
        border-right: solid 1px #000;
        border-right-width: 0.5rem;
        font-size: 110%;
      }
    }
  }



}

.hide {
  display: none;
}

.show {
  transition: 0.4s;
  display: inline-block;
}

#side-bar-arrow {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 2.5rem;
  top: -50vh;
  left: -2.5em;
  height: 7vh;
  width: 7vh;
  border: groove 0.15rem rgba(#000, 0.8);
  background-color: #fff;

  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-radius: 5%;
  position: relative;
  z-index: 99999;
}
